body{
  margin: 0%;
}
nav {
    background-color: rgb(255, 50, 0);    
    display: block;    
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-img{
  height: 45px;  
}
.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: .875rem;
    font-weight: 700;
    border-style: solid;
    border-width: 0.0625rem;
    padding-left: 8px;
}

.linea{
  background-color: #e7ebe7;
  height: 1px;
  width: 900px;
}

.menu-svg{
  padding-left: 8px;
}

.menuButton--small {
  height: 2rem;
}

.nav-items {
  font-family: Georama, Georama-fallback, "Trebuchet MS", sans-serif;
  background-color: transparent;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.menuButton:hover {
filter: brightness(.85);
}

.header-container{
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto; 
}

.main-img-container{
  max-width: 900px;
  margin: 0 auto;  
}
.main-img{
  width: 100%;
  height: 100%;
  margin: 0;  
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  max-width: 862px;
}

.customIcons{
  display: flex;
    width: 120px;
    justify-content: space-between;
}

.internetButton{
  margin-bottom: 100px;
  padding-bottom: 3px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Georama','Georama-fallback','Trebuchet MS',sans-serif;
  padding: 0.1rem 0.6rem;
  background: #ff3200;
  color: #fff;
  right: 70%; 
}

h1{
  font-family: "Georama", "Georama-fallback", "Trebuchet MS", sans-serif;
  font-weight: 600;
}
h3{
  font-family: Georama, Georama-fallback, "Trebuchet MS", sans-serif;
  font-weight: 400;
}


figcaption{
  font-family: Georama, Georama-fallback, "Trebuchet MS", sans-serif;  
}
.div-fecha{
  max-width: 900px;
  margin: 0 auto;
  background-color: #f5f7f5;
}
section p {
  max-width: 900px;
  margin: 0 auto;
  
}
a b {
  line-height: 1.8rem;
  color: #ff3200;
  word-break: break-word;
  font-family: "Open Sans", Open-fallback, Arial, sans-serif;
  cursor: pointer;
}
.ElonUnderline{
  text-decoration-line: none;
  text-decoration: none;
  text-decoration-color: #e7ebe7;
}
section h2 {
  max-width: 900px;
  margin: 0 auto;
  font-family: Georama, Georama-fallback, "Trebuchet MS", sans-serif;
}
p{
  font-family: "Open Sans", Open-fallback, Arial, sans-serif;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;  
}

div section span a {
  width: 50%;
}


a {
  transition: color .3s ease;
}


footer{
  height: 55px;
  background-color:white;
  display: flex;    
  max-width: 900px;
  margin: 0 auto;
}

.footer-img{
  height: 50px;
  display: flex;        
  border-radius: 100%;
  margin-bottom: -54px;
  
}
.name{
  font-family: Georama, Georama-fallback, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: large;
  color: rgb(255, 50, 0);       
  text-decoration-line: none;
  display: flex;
  margin-left: 100px;
  margin-top: 7px;
}
.description{
  font-family: "Open Sans", Open-fallback, Arial, sans-serif;
  font-size: 1.25rem;  
  display: flex;
  margin-left: 100px;
  margin-top: 7px;
}
