body{
  margin: 0%;
}
body::-webkit-scrollbar {
width: 10px; /* Set the width of the scrollbar */
}

/* Track styles */
body::-webkit-scrollbar-track {
background: #f1f1f1; /* Set the background color of the track */
}

/* Handle styles */
body::-webkit-scrollbar-thumb {
background: #888; /* Set the background color of the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
background: #555; /* Set the background color of the handle on hover */
}
.navTop{
  background-color: #274156;
  margin: 0%;
  margin-top: -20px;
  height: 72px;  
}
.divHamburgerIcon{
  max-width: 200px;
  display: flex;
  opacity: 0;
}
#menuToggle
{
  margin-top: 35px;
  margin-left: 16px;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;  
  background: #495057;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navTitle{
  margin-top: -64px;   
  font-family: 'Grenze Gotisch', cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.subscribeButtonDiv{
  display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -58px;
}
.btnSubscribe{
  background: transparent;
  border: none;
  font-weight: bold;
  font-family: 'Rye';
  color: cadetblue;
  font-size: initial;
}
.divNavigationMenu{
  /* background-color: #17141345; */
  background-image: url(https://wallpaperaccess.com/full/1558260.jpg);    

}
.h1InternationalNews{
  display: flex;
  justify-content: center;
  margin-bottom: -16px;
  margin-top: 0px;
  font-family: 'Rye', cursive;
}
.navBottom{
  display: flex;
  justify-content: space-around;
}

.ulNoticiasMenu{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
padding: 0%;

}

.navBottom li{
  display: inline-block;
}

nav ul li a figure img{
  border-radius: 6%;
  width: 270px;
  height: 227px;    
  transition: transform 0.2s ease-out;
}

img:hover{
  opacity: 1;
  transform: scale(1.07);
}
figure {
  position: relative;
  margin-left: -15px;
  
}
figure figcaption {
  position: absolute;   
  text-align: center;
  left: 0;
  top: 0;
  text-shadow: 0 0 1px white;
  font-weight:bold;
  opacity: 0;
  color: white;
  background-color: black;
  max-width: 270px;
  margin-top: 178px;  
  font-family: 'Grenze Gotisch', cursive;
}

figure:hover figcaption{
  opacity: 1;
  color: aliceblue;
  font-weight: 100;
}
main{
  display: flex;
  justify-content: space-between;
  flex-direction: row;    
  flex-wrap: wrap;
  background-color: #495057b8;
}
.divSideNews{
  max-width: 368px;
  height: 634px;
  overflow: auto;
}
.divSideNews::-webkit-scrollbar {
width: 10px; 
}

.divSideNews::-webkit-scrollbar-track {
background: #f1f1f1; 
}

.divSideNews::-webkit-scrollbar-thumb {
background: #888; 
}

.divSideNews::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.divSideNewsTitle{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10px;    
  font-weight: bold;
  font-size: large;
  font-family: 'Rye', cursive;
  text-decoration-line: underline;
}
.hrMobileFirst{
  opacity: 0;
}
.divSideNewsContent{
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  flex-wrap: wrap;   
}

.divSideNewsContentText{
  display: flex;
  flex-wrap: wrap;
  max-width: 312px;
  margin-left: 11px;
  color: black;
}

div a{
  transition: transform 0.2s ease-out;
  text-decoration: none;
  text-decoration-line: none;
  font-family: 'Grenze Gotisch', cursive;
  font-weight: 300;
  color: #274156;
}

a:hover{
  opacity: 0.9;    
}

.divSideNewsContent img{
  display: flex;
  flex-wrap: wrap;
  width: 140px;
  height: 80px;
  margin-left: 10px;
}

.imgBoca{
  margin-bottom: 8px;
}
.imgLadron{
  margin-bottom: 8px;
}

hr{
  margin: 0%;
  margin-bottom: 8px;
  margin-top: -1px;  
  border: black 1px solid;
}


.divMainContent{
  display: flex;
  flex-direction: column;
  width: 960px;    
}

.divMainContentTitle{
  display: flex;
  justify-content: center;
  font-family: 'Grenze Gotisch', cursive;
  font-size: 20px;
}

.divMainContentSubtitle{
  display: flex;
  justify-content: center;
  margin-top: -38px;
  font-family: 'Rye', cursive;
}

.divNationalNews{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.divNationalNews hr{
  margin-top: 16px;
  margin-bottom: 24px;  
}

.divNationalNews h3{
  display: flex;
  justify-content: center;    
  font-family: 'Rye', cursive;
}
.divNationalNewsTitle{
  display: flex;
  justify-content: center;
}
.divLaNacion{
  margin-top: -24px;
}
.divNationalNewsTitle img{
  width: 125px;

}
.imgNoticiaCustomHeight{
  height: 146px;
}

.divNationalNewsContent{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Grenze Gotisch';
  text-decoration: none;
  text-decoration-line: none;
}
.divNationalNewsContent figcaption{
  color: black;
}
.divNationalNewsContent img{
  width: 260px;
  margin-top: 18px;
}

.divNationalNewsContent figcaption{
  max-width: 266px;
}


.divHoroscope{
  overflow: auto;
  width: 215px;
  display: flex;
  flex-direction: column;
  height: 634px;
}
.divHoroscope::-webkit-scrollbar {
  width: 10px; 
}

.divHoroscope::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.divHoroscope::-webkit-scrollbar-thumb {
  background: #888; 
}

.divHoroscope::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.divHoroscopeTitle{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  font-family: 'Rye', cursive;
  text-decoration-line: underline;
}
.divHoroscopeContent{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  max-width: 500px;
}
.divHoroscopeContentText{
  color: black;
  display: flex;
  flex-wrap: wrap;
  max-width: 312px;
  margin-left: 11px;    
}
.divHoroscopeContentImg img{
  border-radius: 100%;
  width: 92px;
  height: 64px; 
  transition: transform 0.2s ease-out;
  display: flex;
  flex-wrap: wrap;   
  margin-left: 10px;   
  margin-bottom: 5px;
  margin-top: -6px; 
}

footer{
display: flex;
justify-content: space-around;
background-color: #274156;
height: 100px;
}
.divHR{
margin-bottom: 32px;
}

.divSocialMediaIcons{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 800px;
margin-top: 30px;
}
.divFollowUs p{
margin-top: 8px;
font-family: 'Rye', cursive;
font-size: large;
}
.divIcon img{
border-radius: 100%;
  width: 42px;
  margin-top: -5px;
}

@media (max-width: 414px) {
  header {
    width: 236%;
  }
  
  main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 977px;
  }
  .divHamburgerIcon{
    opacity: 1;
  }
  .divNavigationMenu{
    display: none;
  }
  .hrMobileFirst{
    margin-top: 7px;
    opacity: 1;
  }
  .divSideNews{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: inherit;
    align-content: center;
  }
  .divSideNewsTitle{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    font-family: 'Rye', cursive;
    text-decoration-line: underline;
  }
  .aMobileFirstColumna2Noticia1{
    margin-top: 65px;
    margin-bottom: 21px;
  }
  .aMobileFirstColumna2Noticia2{
    margin-top: 10px;
  }
  .pMobileFirstColumna2Noticia1{
    margin-bottom: -2px;
  }
  .pMobileFirstColumna2Noticia2{
    margin-bottom: 22px;
  }

  .divMainContentTitle{
    font-size: 30px;
    margin-top: -62px;
  }

  .divMainContentSubtitle{
    font-size: 24px;
    margin-top: -64px;
  }

  .divHoroscope{     
    align-content: center;
    flex-wrap: wrap;
    width: 967px;
    margin-top: 72px;
  }
  .divHoroscopeTitle{
    font-weight: bold;
    font-size: large;
    font-family: 'Rye', cursive;
    text-decoration-line: underline;
    margin-left: 163px;      
  }
  .aMobileFirstHroscope{
    margin-top: 68px;;
  }
  footer{
    width: 236%;
  }  

}

